
{% if promotion %}
        <div class="promotion">
            {{ promotion.message }} - Remise de {{ promotion.discount }} % sur une sélection de produits ! J'en profite !
        </div>
{% endif %}