{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<style>
    /* Votre style ici... */
</style>

<div class="example-wrapper">
    <h1> ✅</h1>

    {# Affichage des articles #}
    <div>
        {% for product in products %}
            <div>
                <h2>{{ product.name }}</h2>
                <p>{{ product.description }}</p>
                <a href="{{ path('app_products_display', {'id': product.id}) }}">Voir les détails du produit</a>
                {# Autres détails de l'article... #}
            </div>
        {% else %}
            <p>No articles found.</p>
        {% endfor %}
    </div>

    {# Autres éléments de votre page... #}
</div>
{% endblock %}
