:root {
  --primary-color: #5f2eea;
  --secondary-color: #1cc8ee;
  --error-color: #ed2e7e;
  --success-color: #00ba88;
  --warning-color: #f4b740;
  --gradient-primary: linear-gradient(90deg, #7433ff 30%, #ffa3fd 100%);
  --gradient-secondary: linear-gradient(90deg, #624af2 30%, #50ddc3 100%);
  --gradient-accent: linear-gradient(90deg, #eb0055 30%, #fffa80 100%);
  --gradient-test: linear-gradient(90deg, #db4444 30%, #fcfcfc 100%);
  --color-title-active: #14142b;
  --color-body: #4e4b66;
  --color-label: #6e7191;
  --color-placeholder: #a0a3bd;
  --color-line: #d9dbe9;
  --color-input-background: #eff0f6;
  --color-background: #f7f7fc;
  --color-off-white: #fcfcfc;
  --color-secondary: #db4444;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  font-family: "Kumbh Sans", sans-serif;
}

.promotion {
  background-color: black;
  color: white;
  border-radius: 0%;
  text-align: center;
  margin: 0;
  padding: 16px;
}

.button2 {
  background-image: linear-gradient(
    to right,
    #db4444 0%,
    #f4b740 51%,
    #db4444 100%
  );
  margin: 10px;
  padding: 16px 48px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 4px;
  display: block;
}

.button2:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.card{
    border: none;
}

.card-header{
    background-color: white;
    border: none;
}

.warning{
    background-color: var(--warning-color);
    padding: 10px;
    color: white;
}

.success{
    background-color: var(--success-color);
    padding: 10px;
    color: white;
}

.discountPercent {
  display: inline-flex;
  padding: 4px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: var(--color-secondary);
}
