{% extends 'admin/base.html.twig' %}

{% block title %}Nouvelle gamme{% endblock %}

{% block body %}
    <h1>Créer une nouvelle game</h1>

    {{ include('categories/_form.html.twig') }}

    <a href="{{ path('app_categories_index') }}" class="btn btn-edit">Retour à la liste de gammes</a>
{% endblock %}
